﻿@{
    ViewBag.Title = "AboutUs";
}
<div class="static-container">
    <div class="container">
        <div class="marketing">
            <h1 itemprop="name">
                @ViewRes.GlobalResource.About_Hi
            </h1>
            <p class="marketing-byline" itemprop="description">
                @ViewRes.GlobalResource.About_Description
            </p>

            <div class="row">
                <div class="col-lg-4">
                    <img src="/Content/img/eye.png" />
                    <img src="/Content/img/globe.png" />
                    <h2>@ViewRes.GlobalResource.About_First_H</h2>
                    <p>@ViewRes.GlobalResource.About_First_P</p>
                </div>
                <div class="col-lg-4">
                    <img src="/Content/img/computer.png" />
                    <img src="/Content/img/smartphone.png" />
                    <h2>@ViewRes.GlobalResource.About_Second_H</h2>
                    <p>@ViewRes.GlobalResource.About_Second_P</p>
                </div>
                <div class="col-lg-4">
                    <img src="/Content/img/magnifyingglass.png" />
                    <img src="/Content/img/heart.png" />
                    <h2>@ViewRes.GlobalResource.About_Three_H</h2>
                    <p>@ViewRes.GlobalResource.About_Three_P</p>
                </div>
            </div>
        </div>
    </div>
</div>

