﻿
@{
    ViewBag.Title = "Contact";
}

<div class="static-container">
    <div class="container">
        <div class="marketing">
            <h1 itemprop="name">
                @ViewRes.GlobalResource.Contact_Hi
            </h1>
            <p class="marketing-byline" itemprop="description">
                @ViewRes.GlobalResource.Contact_HowToContact
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>@ViewRes.GlobalResource.About_Feedback_H</h2>
                <p>@ViewRes.GlobalResource.About_Feedback_P</p>
                <p><strong>
                       <a class="yellow-link" href="mailto:fhneh93@yandex.ru">fhneh93@yandex.ru</a>
                   </strong></p>
                <h2>@ViewRes.GlobalResource.About_Help_H</h2>
                <p>@ViewRes.GlobalResource.About_Help_P</p>
                <p>
                    <strong>
                        <a class="yellow-link" href="mailto:fhneh93@yandex.ru" >fhneh93@yandex.ru</a>
                    </strong>
                </p>
                <h2>@ViewRes.GlobalResource.About_Partnership_H</h2>
                <p>@ViewRes.GlobalResource.About_Partnership_P</p>
                <p>
                    <strong>
                        <a class="yellow-link" href="mailto:fhneh93@yandex.ru">fhneh93@yandex.ru</a>
                    </strong>
                </p>
            </div>
        </div>
     </div>
</div>
