﻿@{
    ViewBag.Title = ViewRes.GlobalResource.Title_Index;
}

<link rel="stylesheet" href="/Content/IndexStyle.css"/>

<div class="content_body">
    <div id="div_all">
        <div class="view_hello">
            @ViewRes.GlobalResource.Index_Welcome
        </div><br />
        <div class="view_text">
            @ViewRes.GlobalResource.Index_Description
        </div>
        <br />

        <a href="https://oauth.vk.com/authorize?client_id=4658475&scope=friends&redirect_uri=http://localhost:8569/Graph&response_type=code&v=5.27">
            <div class="view_button">
                @ViewRes.GlobalResource.Index_Enter_By_VK
            </div>
            <br />
        </a>
        <span>@ViewRes.GlobalResource.Index_Agree_Terms <a href="@Url.Action("Terms","Home")">@ViewRes.GlobalResource.Shared_Terms_Ablative</a></span>
    </div>
</div>