﻿
@{
    ViewBag.Title = "Terms";
}
<div class="static-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav affix">
                    <li>
                        <a href="#welcome">
                            @ViewRes.GlobalResource.Terms_Menu_1
                        </a>
                    </li>
                    <li>
                        <a href="#services">
                            @ViewRes.GlobalResource.Terms_Menu_2
                        </a>
                    </li>
                    <li>
                        <a href="#account">
                            @ViewRes.GlobalResource.Terms_Menu_3
                        </a>
                    </li>
                    <li>
                        <a href="#conf">
                            @ViewRes.GlobalResource.Terms_Menu_4
                        </a>
                    </li>
                    <li>
                        <a href="#youinservice">
                            @ViewRes.GlobalResource.Terms_Menu_5
                        </a>
                    </li>
                    <li>
                        <a href="#aboutsoftware">
                            @ViewRes.GlobalResource.Terms_Menu_6
                        </a>
                    </li>
                    <li>
                        <a href="#changes">
                            @ViewRes.GlobalResource.Terms_Menu_7
                        </a>
                    </li>
                    <li>
                        <a href="#safeguards">
                            @ViewRes.GlobalResource.Terms_Menu_8
                        </a>
                    </li>
                    <li>
                        <a href="#responsibility">
                            @ViewRes.GlobalResource.Terms_Menu_9
                        </a>
                    </li>
                    <li>
                        <a href="#commercial-use">
                            @ViewRes.GlobalResource.Terms_Menu_10
                        </a>
                    </li>
                    <li>
                        <a href="#about-terms">
                            @ViewRes.GlobalResource.Terms_Menu_11
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="page-header">
                    <h2>@ViewRes.GlobalResource.Terms_Hi</h2>
                    @ViewRes.GlobalResource.Terms_Date_Of_Last_Change 30.11.2014
                </div>
                <article>
                    <section id="welcome">
                        <h3>@ViewRes.GlobalResource.Terms_Welcom_H</h3>
                        @ViewRes.GlobalResource.Terms_Welcom_P
                    </section>
                </article>
                <article>
                    <section id="services">
                        <h3>@ViewRes.GlobalResource.Terms_Services_H</h3>
                        @ViewRes.GlobalResource.Terms_Services_P
                    </section>
                </article>
                <article>
                    <section id="account">
                        <h3>@ViewRes.GlobalResource.Terms_Account_H</h3>
                        @ViewRes.GlobalResource.Terms_Account_P
                    </section>
                </article>
                <article>
                    <section id="conf">
                        <h3>@ViewRes.GlobalResource.Terms_Conf_H</h3>
                        @ViewRes.GlobalResource.Terms_Conf_P
                    </section>
                </article>
                <article>
                    <section id="youinservice">
                        <h3>@ViewRes.GlobalResource.Terms_Youinservice_H</h3>
                        @ViewRes.GlobalResource.Terms_Youinservice_P
                    </section>
                </article>
                <article>
                    <section id="aboutsoftware">
                        <h3>@ViewRes.GlobalResource.Terms_Aboutsoftware_H</h3>
                       @ViewRes.GlobalResource.Terms_Aboutsoftware_P
                    </section>
                </article>
                <article>
                    <section id="changes">
                        <h3>@ViewRes.GlobalResource.Terms_Changes_H</h3>
                        @ViewRes.GlobalResource.Terms_Changes_P
                    </section>
                </article>
                <article>
                    <section id="safeguards">
                        <h3>@ViewRes.GlobalResource.Terms_Safeguards_H</h3>
                        @ViewRes.GlobalResource.Terms_Safeguards_P
                    </section>
                </article>
                <article>
                    <section id="responsibility">
                        <h3>@ViewRes.GlobalResource.Terms_Responsibility_H</h3>
                        @ViewRes.GlobalResource.Terms_Responsibility_P
                    </section>
                </article>
                <article>
                    <section id="commercial-use">
                        <h3>@ViewRes.GlobalResource.Terms_CommercialUse_H</h3>
                        @ViewRes.GlobalResource.Terms_CommercialUser_P
                    </section>
                </article>
                <article>
                    <section id="about-terms">
                        <h3>@ViewRes.GlobalResource.Terms_AboutTerms_H</h3>
                        @ViewRes.GlobalResource.Terms_AboutTerms_P
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
