﻿<ul class="nav nav-pills dropup">
    <li class ="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@ViewRes.GlobalResource.Shared_Lang</a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("English", "ChangeCulture", "Home",
            new { lang = "en", returnUrl = this.Request.RawUrl, tabindex = "-1" }, null)</li>
            <li>@Html.ActionLink("Русский", "ChangeCulture", "Home",
            new { lang = "ru", returnUrl = this.Request.RawUrl, tabindex = "-1" }, null)</li>
        </ul>
    </li>
</ul>