﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewRes.GlobalResource.Title_Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/html2canvas.js"></script>
    <link rel="stylesheet" href="/Content/Style.css"/>
</head>
<body>
    <header class="header">
        <a href="@Url.Action("Index","Home")"><span class="header_text">SOCIAL GRAPH</span></a>
    </header>
    
    
        @RenderBody()
    <footer class="footer">
       <!-- <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p> -->
        <div class="footer_links">
            <span class="footer_link"><a href="@Url.Action("Terms","Home")">@ViewRes.GlobalResource.Shared_Terms</a></span>
            <span class="footer_link"><a href="@Url.Action("AboutUs","Home")">@ViewRes.GlobalResource.Shared_About</a></span>
            <span class="footer_link"><a href="@Url.Action("Contact","Home")">@ViewRes.GlobalResource.Shared_Contact</a></span>
            
        </div>
        <div id="lang_selector">
            @Html.Partial("_CultureSelector")
        </div>
        <div class="footer_copyright">
            &copy; @DateTime.Now.Year Social Graph
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
