﻿@using Microsoft.Ajax.Utilities
@using SocialGraph.Models
@model SocialGraph.Models.User
@{
    ViewBag.Title = "Social Graph" + @Model.firstName + @Model.lastName;
}
<script src="/Scripts/vivagraph.js"></script>
<script src="/Scripts/jquery.tmpl.min.js"></script>
<script src="/Scripts/jquery.signalR-2.1.2.js"></script>
<script src="/signalr/hubs"></script>
<script>
    var currentNodeId;
    var graph = Viva.Graph.graph();
    var test = $.connection.mainHub;
    var token = @Html.Raw(String.Format("'{0}'",Model.token.token));
   
    var graphics = Viva.Graph.View.webglGraphics(); //new_19.01

    $(function() {
        $(".progress").hide();

        var sex = @Model.sex;
        var friends = [];
        var friendsSex = [];
        var graphics = Viva.Graph.View.webglGraphics();

        graph.addNode(@Model.id,sex);

        
        graphics.node(function(node) {
            if (node.data == 2) {
                return new NodeColorize(10, 0x0066ffff);
            } else if (node.data == 1) {
                return new NodeColorize(10, 0xff69b4ff);
            } else {
                return new NodeColorize(10, 0x666699ff);
            }
        });
        
       
        


        @foreach (var item in Model.friends)
        {
            @:friends.push(@item.id);
                            @:friendsSex.push(@item.sex);
                        }

        for (var index in friends) {
            graph.addNode(friends[index], friendsSex[index]);
            graph.addLink(@Model.id, friends[index]);
        }

        var layout = Viva.Graph.Layout.forceDirected(graph, {
            springLength: 20,
            springCoeff: 0.0001,
            dragCoeff: 0.09,
            gravity: -1
        });
        var render = Viva.Graph.View.renderer(graph, {
            graphics: graphics,
            layout: layout,
            container: document.getElementById('graph-container')
        });

        var eventsNode = Viva.Graph.webglInputEvents(graphics, graph);
        eventsNode.mouseEnter(function(node) {
            $.getJSON("/Graph/LoadUserLite", { uid: node.id,token:token}, function(data) {
                $(".child").css("display","none");
                $("#userLiteTmlp").tmpl(data).prependTo("#parent");
            });
        }).mouseLeave(function() {
            $(".child").css("display","none");
        }).click(function(node) {
            
            //start_new_19.01
            if(currentNodeId != null){
                var tmpNode = graph.getNode(currentNodeId);
                $.each(tmpNode.links, function(item) {
                    var linkUI = graphics.getLinkUI(tmpNode.links[item].id);
                    linkUI.color = 0xc6c6c6ff;
                });
            }
            //end_new_19.01
            
            $.getJSON("/Graph/LoadUserFull", { uid: node.id, token: token }, function(data) {
                $(".child").css("display","none");
                $(".child-click").css("display","none");
                $("#userLiteTmlp").tmpl(data).prependTo("#parent");
                $("#additional-progress").hide();
                currentNodeId = node.id;

                //
                //start_new_19.01
                $.each(node.links, function(item) {
                    var linkUI = graphics.getLinkUI(node.links[item].id);
                    linkUI.color = 0xff0000ff;
                });
                //end_new_19.01


            });
           // alert('Change node: '+node.id+', '+node.data);
           
                     






        });
        render.run();
        //Proxy SignalR
        test.client.draw = function(jsonData,type) {
            var obj = $.parseJSON(jsonData);
            console.log(jsonData);
            $.each(obj, function(key, value) {
                for (var i in value) {

                    if(type == "full"){
                        $.each(value[i], function(uid, sex) {
                            graph.addNode(uid, sex);
                            graph.addLink(key, uid);
                        });
                    }
                    else if (type == "lite") {
                        graph.addLink(key, value[i]);
                    }
                }
            });
            render.run();
        };
        test.client.percent = function(data) {
            console.log(data + "%");
            $(".progress-bar").width(data + "%");
            if (data == "100") {
                //исчезнуть прогресс бар
                $(".progress").slideUp("slow");
            }
        }
        test.client.showError = function(title, description) {
            console.log(title + ". " + description);
        }

        $.connection.hub.start().done(function() {
            //показать прогресс бар
            $("#@Model.id").slideDown("slow");
            test.server.getFriendPack(@Model.id,friends,token);
        });

        $("#graph-container").mouseover(function() {
            $(".child").css("display", "none");
        });

        $("#btn-download").click(function() {
            html2canvas(document.body, {
                onrendered: function(canvas) {
                    document.location.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
                    return false;
                }
            });
        });
    });

    function NodeColorize(size, color) {
        this.size = size;
        this.color = color;
    }

    function addFriend() {
        //показать прогресс бар
        $("#additional-progress").slideDown("slow");
        console.log("btn-click" + currentNodeId);
        test.server.loadFriend(currentNodeId,token);
    }

    function addFriendById() {
        //TODO
        //Валидация формы
        //Вызов метода на сервере
        var uid = $("#uid-field").val();
        console.log(uid);
        var reg = /^\d+$/;
        if (uid == "") {
            console.log("Error : Поле пустое.");
            return false;
        }
        if (!reg.test(uid)) {
            console.log("Error : Поле содержит не корректное значение.");
            return false;
        }

        $.getJSON("/Graph/LoadUserFull", { uid: uid, token: token }, function(data) {
            $(".child").css("display","none");
            $(".child-click").css("display","none");
            $("#userLiteTmlp").tmpl(data).prependTo("#parent");
            $("#additional-progress").hide();
            currentNodeId = uid;
            $("#additional-progress").slideDown("slow");
        });
        test.server.loadFriend(uid, token);
        $("#myModal").modal("hide");
    }

    //start_new_19.01
    function child_clickCloser(id)
    {
        $(".child-click").css("display","none");
        var tmpNode = graph.getNode(id);
        $.each(tmpNode.links, function(item) {
            var linkUI = graphics.getLinkUI(tmpNode.links[item].id);
            linkUI.color = 0xc6c6c6ff;
        });
    }

    //end_new_19.01



</script>

<script id="userLiteTmlp" type="text/x-jquery-tmpl">
    {{if $item.data.photo_200 == null}}
    <li class="dropdown child">
        {{else}}
    <li class="dropdown child-click">
        <div class="progress" id="additional-progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        {{/if}}

        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="${photo_50}" alt="${first_name} ${last_name}" />
            ${first_name} ${last_name}
            {{if $item.data.photo_200 != null}}
            <b class="caret"></b>
            
            <span class="close" onclick="child_clickCloser(currentNodeId)">&times;</span>
            <!--<span class="close" onclick="$('.child-click').css('display', 'none')">&times;</span>_new_19.01_-->
            {{/if}}
        </a>
        {{if $item.data.photo_200 != null}}
        <ul class="dropdown-menu">
            <li>
                <div>
                    <img src="${photo_200}" alt="" />
                    <div class="caption">
                        <h3>${first_name} ${last_name}</h3>
                        <a id="btn-add" href="#" onclick="addFriend()">Добавить на граф</a><br />
                        <a id="removeBtn" href="#" onclick="graph.removeNode(currentNodeId)">Удалить вершину</a>
                    </div>
                </div>
            </li>
        </ul>
        {{/if}}
    </li>
</script>

<script src="/Scripts/postProcess.js"></script>

<div class="static-container" id="graph-container">

    <div class="user-modul">

        <ul class="nav nav-pills" id="parent">
            <li class="dropdown">
                <div class="progress" id="@Model.id">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img src="@Model.photo_50" alt="@Model.firstName @Model.lastName" />
                    @Model.firstName @Model.lastName
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div>
                            <img src="@Model.photo_200" alt="" />
                            <div class="caption">
                                <h3>@Model.firstName @Model.lastName</h3>
                                <a href="#" data-toggle="modal" data-target="#myModal">Добавть человека</a><br />
                                <a href="#" download="my-graph.png" id="btn-download">Сохранить граф как изображение</a><br />
                                <a class="btn" href="@Url.Action("SignOut", "Graph")">Выход</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>



</div>
<!--Modal window-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление пользователя</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="uid-field" class="control-label">Идентификатор человека в сети Вконтакте:</label>
                    <input type="text" class="form-control" id="uid-field" value="" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="addFriendById()">Добавить</button>
            </div>
        </div>
    </div>
</div>