﻿html {
    min-height:100%;
     background: url("/Content/img/background.jpg") no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}