﻿@import url(http://fonts.googleapis.com/css?family=Fira+Sans:700|Roboto+Condensed:400,300&subset=latin,cyrillic);
/*
    font-family: 'Fira Sans', sans-serif; - заголовок
    font-family: 'Roboto Condensed', sans-serif; - текст, подзаголовки нормальный(400), основной текст легкий(300)
    */
body {
    display: initial;
}



.header_text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    color: black;
    padding: 50px 0 0 5%;
}

.header {
    background: #ffffff;
}

    .header a {
        text-decoration: none;
    }

.footer_links {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    margin-left: 5%;
    float: left;
    padding: 10px 5px;
}

.footer_link {
    padding: 10px;
}

    .footer_link a {
        color: #ffd800;
        text-decoration: none;
    }

        .footer_link a:visited {
            color: #ffd800;
            text-decoration: none;
        }

        .footer_link a:active {
            color: #ffd800;
            text-decoration: none;
        }


.footer_copyright {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    margin-right: 5%;
    float: right;
    padding: 10px 5px;
}

.footer {
    background: #333333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    padding-top: 4px;
}

.content_body {
    text-align: center;
}





.view_hello {
    display: inline-block;
    margin: 0 auto;
    margin-top: 100px;
    font-family: Arial;
    font-size: 28px;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    background: #ffd800;
    font-family: 'Fira Sans', sans-serif;
}

.view_text {
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    font-family: Arial;
    font-size: 22px;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    font-family: 'Fira Sans', sans-serif;
}

.view_button {
    display: inline-block;
    border: 2px groove white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    padding: 5px;
    font-weight: 600;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

a .view_button:hover {
    text-decoration: none;
    color: #000;
    background: #fff;
}

#lang_selector {
    display: inline-block;
}

    #lang_selector a {
        color: #ffd800;
    }

    #lang_selector .nav li a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eee;
    }

    #lang_selector .nav li ul li a {
        color: #000;
    }

#div_all span {
    color: #ccc;
    font-size: 10px;
}

.container {
    margin-bottom: 75px;
}

.static-container {
    background-color: #f9f9f9;
}

.bs-docs-sidebar {
    margin-top: 55px;
}

.bs-docs-sidenav {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.067) 0 1px 4px 0;
    color: #333;
    list-style-position: outside;
    list-style-type: none;
}

    .bs-docs-sidenav li {
        color: #333;
        list-style-position: outside;
        list-style-type: none;
    }

        .bs-docs-sidenav li a {
            border-bottom-color: #e5e5e5;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            color: #08c;
            display: block;
        }

.marketing {
    color: #5a5a5a;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

    .marketing h1 {
        margin: 60px 0 10px;
        font-size: 60px;
        font-weight: 200;
        line-height: 1;
        letter-spacing: -1px;
    }

    .marketing .marketing-byline {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.25;
        color: #999;
    }

    .marketing h2 {
        color: #5a5a5a;
        font-size: 31.5px;
        font-weight: 200;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }

    .marketing p {
        color: #5a5a5a;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }

.yellow-link {
    color: #ffd800;
}

    .yellow-link:hover {
        padding: 3px;
        background-color: #333333;
        color: #ffd800;
    }

#graph-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -2;
}

.user-modul {
    z-index: 1;
    position: relative;
    float: right;
    margin: 10px;
}

    .user-modul .dropdown-toggle {
        color: #000;
        display: inline-block;
    }

    .user-modul img {
        margin: 0 10px 0 10px;
    }

    .user-modul .close {
        margin: 8px 0 0 5px;
        padding: 5px;
    }

.progress {
    display: none;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    z-index: -10;
}

.caption {
    padding: 0 10px 10px 10px;
}

.btn {
    background-color: #E6E6E6;
    background-image: linear-gradient(#FFF, #E6E6E6);
    background-position: 0px -15px;
    background-repeat: repeat-x;
    border-bottom-color: #B3B3B3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    outline-color: #333;
    outline-offset: -2px;
    outline-style: dotted;
    outline-width: 1px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
    transition-delay: 0s;
    transition-duration: 0.1s;
    vertical-align: middle;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-text-decoration-color: #333;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
}

.page-header h2, h3 {
    font-family: 'Fira Sans', sans-serif;
}

.page-header {
    font-family: 'Roboto Condensed', sans-serif;
}

.nav {
    font-family: 'Fira Sans', sans-serif;
}

    .nav li, a {
        font-family: 'Roboto Condensed', sans-serif;
    }

.marketing {
    font-family: 'Fira Sans', sans-serif;
}

    .marketing h1 {
        font-family: 'Fira Sans', sans-serif;
    }

    .marketing p, h2 {
        font-family: 'Roboto Condensed', sans-serif;
    }

.row {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}